@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}

.dynamic-delete-button:hover {
  color: #777;
}

.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.delivery-input {
  text-transform: uppercase;
}

.optimize-input {
  width: 56%;
  margin-right: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.optimize-routes {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.delete-image {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.ant-table-cell {
  text-transform: uppercase;
}

.optimize-button {
  width: 60%;
  margin-bottom: 10px;
  margin-top: 20px;
}

.nav {
  background-color: #000;
  height: 50px;
  text-align: left;
}

.nav-content {
  font-size: 16px;
  margin-left: 40px;
  font-weight: bold;
  color: white;
}